<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_archer_attack_kunbangsheji_ex</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_archer/Player_archer_attack_towshot.anim</SkillClip>
  <SkillClipName>Player_archer_attack_towshot</SkillClipName>
  <Directory>player_archer/</Directory>
  <Player>2</Player>
  <Dummy>201</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.2857143</Result_Ratio>
    </XResultDataExtra>
    <XResultDataExtra>
      <Result_Ratio>0.619047642</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Ja />
</XConfigData>