<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_archer_attack_duoduansheji</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_archer/Player_archer_attack_magicarrow.anim</SkillClip>
  <SkillClipName>Player_archer_attack_magicarrow</SkillClipName>
  <Directory>Player_archer/</Directory>
  <Player>2</Player>
  <Dummy>121</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.152777776</Result_Ratio>
    </XResultDataExtra>
  </Result>
</XConfigData>