<?xml version="1.0" encoding="utf-8"?>
<XConfigData>
  <SkillName>Player_archer_attack_duoduansheji</SkillName>
  <Speed>2</Speed>
  <RotateSpeed>12</RotateSpeed>
  <SkillClip>Assets/Resources/Animation/Player_archer/Player_archer_attack_magicarrow.anim</SkillClip>
  <SkillClipName>Player_archer_attack_magicarrow</SkillClipName>
  <Directory>Player_archer/</Directory>
  <Player>2</Player>
  <Dummy>121</Dummy>
  <Result>
    <XResultDataExtra>
      <Result_Ratio>0.152777776</Result_Ratio>
    </XResultDataExtra>
  </Result>
  <Ja />
  <Logical>
    <Not_Move_At_Ratio>0</Not_Move_At_Ratio>
    <Not_Move_End_Ratio>0.952380836</Not_Move_End_Ratio>
    <Not_Dash_At_Ratio>0</Not_Dash_At_Ratio>
    <Not_Dash_End_Ratio>0</Not_Dash_End_Ratio>
    <Rotate_At_Ratio>0</Rotate_At_Ratio>
    <Rotate_End_Ratio>0</Rotate_End_Ratio>
    <QTEDataEx />
    <Cancel_At_Ratio>0.476190418</Cancel_At_Ratio>
    <Preserved_Ratio>0</Preserved_Ratio>
    <Preserved_End_Ratio>0</Preserved_End_Ratio>
    <ExString_Ratio>0</ExString_Ratio>
    <Not_Selected_At_Ratio>0</Not_Selected_At_Ratio>
    <Not_Selected_End_Ratio>0</Not_Selected_End_Ratio>
  </Logical>
</XConfigData>